<div class="form-actions">
  <h1>Ask Question</h1>
</div>

<%= form_for(@question, html: { class: 'form-horizontal' }) do |f| %>

  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <%= link_to 'Back', questions_path, class: 'btn' %>
  </div>
<% end %>
